/* ############################################
   ################### FONTE ##################
   ############################################ */
   /* 
   font-family: 'Alice', serif;
   font-family: 'Roboto Condensed', sans-serif; */
   /* Fibonacci: 1,1,2,3,5,8,13,21,34,55 */
   @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Alice');

/* ############################################
   ################### RESET ##################
   ############################################ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/* ############################################
   ################### STYLE ##################
   ############################################ */
body{
    background: #4c9fd7;
}
.movie{
    position: fixed;
    width: 100%;
    z-index: -1;
}



.grid{
	display: grid;
	max-width: 90%;
	margin: 0 auto;
}
.secao1{
	grid-template-columns: 80% 20%;
	grid-template-rows: 200px 260px 140px 45px;
	grid-template-areas: "logo logo"
						 "frase ."
						 "btn-area btn-area"
						 ". contagem";
}
.logo{
	grid-area: logo;
	margin: 0 auto;
}
.btn-area{
	grid-area: btn-area;
	margin: 0 auto;
}
.btn{
	background: #d7844c;
	padding: 10px 50px;
}
.contagem{
	grid-area: contagem;
	background: #f1ece9;
	padding: 5px 10px;
	max-width: 300px;
	left: 2000px;
}
.byline{
	font-size: 1em;
	font-family: 'Alice', serif;
	padding: 0px 5px;
}
.bhead{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
}
.display{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3em;
	line-height: 1.5em;
}
.frase{
	grid-area: frase;
}
.white{
	color: #f1ece9;
}
.laranja{
	color: #d7844c;
}
.azul2{
	color: #76bddf;
}
.azul1{
	color: #4c9fd7;
}
.cinza{
	color: #485058;
}
.m-y-1{
	margin: 1em 0;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}