@charset "UTF-8";
/* Fontes escolhidas para a marca, montserrat usada para causar destaque e imprima para textos em geral */
@import url("https://fonts.googleapis.com/css?family=Imprima|Montserrat:400,700");
/*
This stylesheet is writen in BEM CSS
BLOCK = .block 
ELEMENT = .block__element
MODIFIER = .block__element--modifier \ .block--modifier
*/
/* ############################################################
########################## BLOCK ##########################
############################################################ */
.entradaDobra1 {
  /* Cria├º├úo de um grid padr├úo de 3 colunas que ser├í usado no projeto todo */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  /* alinhando ao centro todo o conteudo da dobra1 */
  justify-items: center; }

.especificacoesDobra2 {
  /* Cria├º├úo de um grid padr├úo de 3 colunas que ser├í usado no projeto todo */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  /* alinhando ao centro todo o conteudo da dobra1 */
  justify-items: normal; }

.callDobra3 {
  /* Cria├º├úo de um grid padr├úo de 3 colunas que ser├í usado no projeto todo */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  /* alinhando ao centro todo o conteudo da dobra1 */
  justify-items: normal; }

.perguntasDobra4 {
  /* Cria├º├úo de um grid padr├úo de 3 colunas que ser├í usado no projeto todo */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  /* alinhando ao centro todo o conteudo da dobra1 */
  justify-items: center; }

/* ############################################################
########################## ELEMENT ##########################
############################################################ */
/* NOTE: ########## Configura├º├Áes de layout da dobra 1 ##########*/
.entradaDobra1__logo {
  grid-column: 2;
  grid-row: 1; }

.entradaDobra1__frase {
  grid-column: 2;
  grid-row: 2; }

.entradaDobra1__botao {
  grid-column: 2;
  grid-row: 3; }

.entradaDobra1__contador {
  grid-column: 1;
  grid-row: 4; }

/* NOTE: ########## Configura├º├Áes de layout da dobra 2 ##########*/
.especificacoesDobra2__fraseMain {
  /* NOTE: Ocupa linha 1 inteira */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1; }

/* NOTE: Cria├º├úo dos ornamento de separa├º├úo */
.especificacoesDobra2__fraseMain::after {
  content: "";
  background: #FFBF6B;
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 200px;
  margin-top: 10px; }

.especificacoesDobra2__funcionalidades {
  grid-column: 1;
  grid-row: 2;
  /* NOTE: Alinhamento do conte├║do ao centro deste elemento */
  justify-items: start;
  align-self: center; }

.especificacoesDobra2__observacoes {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  /* FIXME: Verificar se h├í necessidade de configurar um width */
  width: 80%; }

.especificacoesDobra2__exemploTenis {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4; }

.especificacoesDobra2__fraseSecundaria {
  /* NOTE: Ocupa linha 4 inteira */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 4; }

/* NOTE: Cria├º├úo dos ornamento de separa├º├úo */
.especificacoesDobra2__fraseSecundaria::after {
  content: "";
  background: #FFBF6B;
  display: block;
  margin: 0 auto;
  height: 3px;
  width: 200px;
  margin-top: 10px; }

/* NOTE: ########## Configura├º├Áes de layout da dobra 3 ##########*/
.callDobra3__destaqueImagem {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2; }

.callDobra3__frase {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center; }
  .callDobra3__frase::after {
    content: "";
    background: #FFBF6B;
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 200px;
    margin-top: 10px; }

.callDobra3__botao {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center; }

/* NOTE: ########## Configura├º├Áes de layout da dobra 4 ##########*/
.perguntasDobra4_frase {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; }
  .perguntasDobra4_frase::after {
    content: "";
    background: #FFBF6B;
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 200px;
    margin-top: 10px; }

.perguntasDobra4_pergunta1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4; }
  .perguntasDobra4_pergunta1:nth-child(even) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5; }

.perguntasDobra4_pergunta2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4; }
  .perguntasDobra4_pergunta2:nth-child(even) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5; }

/* ############################################################
########################## MODIFIER ##########################
############################################################ */

/*# sourceMappingURL=grid.css.map */
