@import '../abstract/abstract';
/*
This stylesheet is writen in BEM CSS
BLOCK = .block 
ELEMENT = .block__element
MODIFIER = .block__element--modifier \ .block--modifier
*/
/* ############################################################
########################## BLOCK ##########################
############################################################ */
.entradaDobra1{
    @include grid();

    @media #{$mqmobile} {
        @include grid(1, center);
    }
}
.especificacoesDobra2{
    @include grid(3 , normal);

    @media #{$mqmobile} {
        @include grid(1, center);
    }
}

.callDobra3{
    @include grid(2, normal);

    @media #{$mqmobile} {
        @include grid(1, center);
    }
}
.perguntasDobra4{
    @include grid(2, center);

    @media #{$mqmobile} {
        @include grid(1, center);
    }
}
.footer{
    @include grid(3, center);

    @media #{$mqmobile} {
        @include grid(1, center);
    }
}
/* ############################################################
########################## ELEMENT ##########################
############################################################ */
//NOTE:  ########## Configurcao de layout da dobra 1 ##########*/
.entradaDobra1__logo{
    grid-column: 2;
    grid-row: 1;

    @media #{$mqmobile} {
        grid-column: 1;
    }
}
.entradaDobra1__frase{
    grid-column: 2;
    grid-row: 2;

    @media #{$mqmobile} {
       grid-column: 1; 
    }
}
.entradaDobra1__botao{
    grid-column: 2;
    grid-row: 3;

    @media #{$mqmobile} {
        grid-column: 1; 
     }
}
.entradaDobra1__contador{
    grid-column: 1;
    grid-row: 4;

    @media #{$mqmobile} {
        grid-column: 1; 
     }
}

//NOTE:  ########## Configuracoes de layout da dobra 2 ##########*/
.especificacoesDobra2__fraseMain{
    //NOTE:  Ocupa linha 1 inteira */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;

    @media #{$mqmobile} {
        grid-column: 1; 
     }

     //NOTE:  Criacao dos ornamento de separcao */
    &::after{
    content: "";
    background: #FFBF6B;
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 200px;
    margin-top: 10px;
    }
}

.especificacoesDobra2__funcionalidades{
    grid-column: 1;
    grid-row: 2;
    //NOTE:  Alinhamento do conteúdo ao centro deste elemento */
    justify-self: end;
    align-self: center;
    max-width: 80%;

    @media #{$mqmobile} {
        grid-column: 1; 
     }
}
.especificacoesDobra2__exemploTenis{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;

    @media #{$mqmobile} {
        grid-column: 1; 
        grid-row: 4;
     }
}
.especificacoesDobra2__fraseSecundaria{
    //NOTE:  Ocupa linha 4 inteira */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 5;

    @media #{$mqmobile} {
        grid-column: 1; 
     }

    //NOTE:  Criacao dos ornamento de separcao */
    &::after{
        content: "";
        background: #FFBF6B;
        display: block;
        margin: 0 auto;
        height: 3px;
        width: 200px;
        margin-top: 10px;
        }
}

//NOTE:  ########## Configuracao de layout da dobra 3 ##########*/
.callDobra3__destaqueImagem{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 

    @media #{$mqmobile} {
        grid-column: 1; 

        // NOTE: Teste com contraste
     }
}
.callDobra3__frase{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3; 
    // NOTE: Alinhamento para centralizacao do texto no meio
    text-align: center;

    @media #{$mqmobile} {
        grid-column: 1; 
        grid-row-start: 1;
        grid-row-end: 3;
     }

    &::after{
        content: "";
        background: #FFBF6B;
        display: block;
        margin: 0 auto;
        height: 3px;
        width: 200px;
        margin-top: 10px;
    }
}
.callDobra3__botao{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; 
    justify-self: center;

    @media #{$mqmobile} {
        grid-column: 1; 
     }
}

//NOTE:  ########## Configuracao de layout da dobra 4 ##########*/
.perguntasDobra4_frase{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    @media #{$mqmobile} {
        grid-column: 1;
     }

    &::after{
        content: "";
        background: #FFBF6B;
        display: block;
        margin: 0 auto;
        height: 3px;
        width: 200px;
        margin-top: 10px;
    }
}
.perguntasDobra4_pergunta1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    @media #{$mqmobile} {
        grid-column: 1;
     }

    &:nth-child(even){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5; 

        @media #{$mqmobile} {
            grid-column: 1; 
            grid-row-start: 4;
            grid-row-end: 5; 
         }
    }
}
.perguntasDobra4_pergunta2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    @media #{$mqmobile} {
        grid-column: 1; 
     }

    &:nth-child(even){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5; 

        @media #{$mqmobile} {
            grid-column: 1;
            grid-row-start: 5;
            grid-row-end: 6; 
         }
    }
}

//NOTE:  ########## Configuracao de layout da footer ##########*/
.footer__icon{
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer__redesSociais{
    grid-column-start: 1;
    grid-column-end: 4;

    @include grid(3, center);

    li{
        display: inline;
    }
}
/* ############################################################
########################## MODIFIER ##########################
############################################################ */
