@import '../abstract/abstract';
/*
NOTE:
This stylesheet is writen in BEM CSS
BLOCK = .block 
ELEMENT = .block__element
MODIFIER = .block__element--modifier \ .block--modifier
*/

/* ############################################################
########################## BLOCK ##########################
############################################################ */

/* ########## utilidades ########## */

.nulo {
  display: none;
}

.alinhamento {
  margin: 0 auto;
}

/* ############################################################
########################## ELEMENT ##########################
############################################################ */

/* ########## tipografia ########## */

.tipografia__titulo {
  @include titulo();

  @media #{$mqmobile}{
    @include titulo--mobile();
  }
}

.tipografia__subTitulo {
  @include subTitulo();

  @media #{$mqmobile}{
    @include subTitulo--mobile();
  }
}

.tipografia__corpoTexto {
  @include corpoTexto();
}

.tipografia__byline {
  @include byline();
}

/* ########## cores ########## */

.cores__base {
  color: $corBase;
}

.cores__enfase {
  color: $corEnfase;
}

.cores__suporteGray {
  color: $corSuporte1;
}

.cores__suporteWhite {
  color: $corSuporte2;
}

/* ########## utilidades ########## */

.alinhamento__titulos {
  text-align: center;
  /* white-space: nowrap; */
}

.alinhamento__elementos {
  justify-self: center;
}

/* ############################################################
########################## MODIFIER ##########################
############################################################ */

/* ########## tipografia ########## */

.tipografia__subTitulo--segunda {
  @include subTitulo--segunda();
  @media #{$mqmobile}{
    @include subTitulo--segunda--mobile();
  }
}

/* ########## cores ########## */

.cores__base--claro {
  color: $corBase--clara;
}

.cores__base--escuro {
  color: $corBase--escura;
}

.cores__enfase--claro {
  color: $corEnfase--clara;
}

.cores__enfase--escuro {
  color: $corEnfase--escura;
}

/* ########## utilidades ########## */
// NOTE: Recize de imagens
.image__recize{
  height: 100%;
  width: 100%;
}

//NOTE Configurações de sombras para efeitos de sobreposição
.shadow__element--1dp {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--2dp {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--3dp {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--4dp {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--9dp {
  box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--12dp {
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px 0 rgba(0, 0, 0, 0.20);
}

.shadow__element--24dp {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px 0 rgba(0, 0, 0, 0.20);
}

// NOTE: margin
.m-1 {
  margin: $espacamento1;
}

.m-2 {
  margin: $espacamento2;
}

.m-3 {
  margin: $espacamento3;
}

.m-4 {
  margin: $espacamento4;
}

.m-x-1 {
  margin: 0 $espacamento1;
}

.m-x-2 {
  margin: 0 $espacamento2;
}

.m-x-3 {
  margin: 0 $espacamento3;
}

.m-x-4 {
  margin: 0 $espacamento4;
}

/* MARGIN TOP E BOTTOM */

.m-y-1 {
  margin: $espacamento1 0;
}

.m-y-2 {
  margin: $espacamento2 0;
}

.m-y-3 {
  margin: $espacamento3 0;
}

.m-y-4 {
  margin: $espacamento4 0;
}

/* MARGIN BOTTOM */

.m-b-1 {
  margin-bottom: $espacamento1;
}

.m-b-2 {
  margin-bottom: $espacamento2;
}

.m-b-3 {
  margin-bottom: $espacamento3;
}

.m-b-4 {
  margin-bottom: $espacamento4;
}

/* MARGIN TOP */

.m-t-1 {
  margin-top: $espacamento1;
}

.m-t-2 {
  margin-top: $espacamento2;
}

.m-t-3 {
  margin-top: $espacamento3;
}

.m-t-4 {
  margin-top: $espacamento4;
}

/* MARGIN RIGHT */

.m-r-1 {
  margin-right: $espacamento1;
}

.m-r-2 {
  margin-right: $espacamento2;
}

.m-r-3 {
  margin-right: $espacamento3;
}

.m-r-4 {
  margin-right: $espacamento4;
}

/* MARGIN LEFT */

.m-l-1 {
  margin-left: $espacamento1;
}

.m-l-2 {
  margin-left: $espacamento2;
}

.m-l-3 {
  margin-left: $espacamento3;
}

.m-l-4 {
  margin-left: $espacamento4;
}

// NOTE: Paddings
.p-1 {
  padding: $espacamento1;
}

.p-2 {
  padding: $espacamento2;
}

.p-3 {
  padding: $espacamento3;
}

.p-4 {
  padding: $espacamento4;
}

.p-x-1 {
  padding: 0 $espacamento1;
}

.p-x-2 {
  padding: 0 $espacamento2;
}

.p-x-3 {
  padding: 0 $espacamento3;
}

.p-x-4 {
  padding: 0 $espacamento4;
}

/* padding TOP E BOTTOM */

.p-y-1 {
  padding: $espacamento1 0;
}

.p-y-2 {
  padding: $espacamento2 0;
}

.p-y-3 {
  padding: $espacamento3 0;
}

.p-y-4 {
  padding: $espacamento4 0;
}

/* padding BOTTOM */

.p-b-1 {
  padding-bottom: $espacamento1;
}

.p-b-2 {
  padding-bottom: $espacamento2;
}

.p-b-3 {
  padding-bottom: $espacamento3;
}

.p-b-4 {
  padding-bottom: $espacamento4;
}

/* padding TOP */

.p-t-1 {
  padding-top: $espacamento1;
}

.p-t-2 {
  padding-top: $espacamento2;
}

.p-t-3 {
  padding-top: $espacamento3;
}

.p-t-4 {
  padding-top: $espacamento4;
}

/* padding RIGHT */

.p-r-1 {
  padding-right: $espacamento1;
}

.p-r-2 {
  padding-right: $espacamento2;
}

.p-r-3 {
  padding-right: $espacamento3;
}

.p-r-4 {
  padding-right: $espacamento4;
}

/* padding LEFT */

.p-l-1 {
  padding-left: $espacamento1;
}

.p-l-2 {
  padding-left: $espacamento2;
}

.p-l-3 {
  padding-left: $espacamento3;
}

.p-l-4 {
  padding-left: $espacamento4;
}