@charset "UTF-8";
/* Fontes escolhidas para a marca, montserrat usada para causar destaque e imprima para textos em geral */
@import url("https://fonts.googleapis.com/css?family=Imprima|Montserrat:400,700");
/*
This stylesheet is writen in BEM CSS
BLOCK = .block 
ELEMENT = .block__element
MODIFIER = .block__element--modifier \ .block--modifier
*/
/* ############################################################
########################## BLOCK ##########################
############################################################ */
.button {
  background: linear-gradient(to bottom right, #FFBF6B, #FFAF47);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  width: 150px;
  height: 45px;
  box-sizing: border-box;
  text-align: center;
}

.contador {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #FFF;
  width: 280px;
  text-align: center;
  margin-top: 70px;
}

/* ############################################################
########################## ELEMENT ##########################
############################################################ */
/* Configura├º├Áes de background do projeto */
.background__dobra1 {
  background: url(../IMG/section1/backgroundSection1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* altura para ser melhor para visualizar o background */
  height: 400px;
}

.background__corBase {
  background: linear-gradient(to bottom right, #3B83B6, #1E6DA5);
}

.perguntasDobra4__backgroundPrimario {
  width: 80%;
  background: linear-gradient(to bottom right, #3B83B6, #1E6DA5);
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  cursor: pointer;
  padding-left: 10px;
}

.perguntasDobra4__backgroundSecudaria {
  width: 80%;
  background: linear-gradient(to bottom right, #5C9CCA, #3B83B6);
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
}

.sprite {
  background: url("../../IMG/sprite-sf197f59475.png");
  height: 50px;
  width: 50px;
}

/* ############################################################
########################## MODIFIER ##########################
############################################################ */
.button:hover {
  background: linear-gradient(to bottom right, #FFAF47, #FF9E20);
  box-shadow: none;
}
