/*
This stylesheet is writen in BEM CSS
BLOCK = .block 
ELEMENT = .block__element
MODIFIER = .block__element--modifier \ .block--modifier
*/


/* ############################################################
########################## BLOCK ##########################
############################################################ */
.button{
    background: linear-gradient(to bottom right, #FFBF6B, #FFAF47);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    /*NOTE: Cria borda na parte inferior afim de criar efeito de sombreamento */
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}
.contador{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #FFF;
    width: 280px;
    text-align: center;
    /* NOTE: Margin top para que o elemento fico entre a dobra1 e 2 */
    /* FIXME: Verificar se esta margin irá ser aplicada no maior número de dispositivos */
    margin-top: 120px;
}
/* ############################################################
########################## ELEMENT ##########################
############################################################ */

/* Configurações de background do projeto */
.background__dobra1{
    background: url(../../IMG/section1/backgroundSection1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* altura para ser melhor para visualizar o background */
    height: 400px;
}
/* ############################################################
########################## MODIFIER ##########################
############################################################ */
.button:hover{
    background: linear-gradient(to bottom right, #FFAF47, #FF9E20);
    box-shadow: none;
}